<% if @compound_names.count > 0 %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.compound_name.name') %> </th>
      <th><%= t('activerecord.attributes.compound_name.edit') %></th>
      <th><%= t('activerecord.attributes.compound_name.remove') %></th>
    </tr>
    </thead>
    <% @compound_names.each_with_index do |element, index| %>
      <% if !element.nil? && ((index < 6 && type == 'left') || (index >= 6 && type == 'right')) %>
        <tr>
          <td><%= element.name %></td>
          <td>
            <%= link_to t('activerecord.attributes.compound_name.edit'), edit_compound_name_path(element, moodle_user: params[:moodle_user]), remote: true,
                        data: {target: "##{element.id}"}, class: 'btn btn-default' %>

          </td>
          <td>
            <%= button_to 'Remover', delete_compound_name_path(element, moodle_user: params[:moodle_user]),
                          class: 'btn btn-danger',
                          :data => { :confirm => "Tem certeza que deseja apagar o nome composto: #{element.name}?" },
                          method: :delete, title: 'Remover nome composto'%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br />
<% else %>
  <div class="jumbotron">
    <p>Não há nomes compostos cadastrados.</p>
  </div>
<% end %>