<%= form_tag compound_names_path(moodle_user: params[:moodle_user], anchor: 'compound_names'), method: 'get', html: {class: ''} do %>
  <!-- para garantir a autenticacão -->
  <%= hidden_field_tag 'moodle_user', params[:moodle_user] %>

  <div class="input-group">
    <%= autocomplete_field_tag :search, params[:search],
                               compound_names_autocomplete_name_path(moodle_user: params[:moodle_user], anchor: 'compound_names', autofocus: 'autofocus'),
                               {placeholder: 'Busca', class: 'form-control', autofocus: 'autofocus'} %>

    <div class="input-group-btn">
      <%= link_to compound_names_path(moodle_user: params[:moodle_user], anchor: 'compound_names'), class: 'btn btn-default', id: 'clean-search', title: t('clear_filter') do %>
        <%= display_icon('remove') %>
      <% end %>


      <%= button_tag class: 'btn btn-default', name: nil, title: t('apply_filter') do %>
        <%= display_icon('search') %>
      <% end %>
    </div>
  </div>
<% end %>