<div class="row">
  <div class="col-lg-12">
    <h3><%= t(:compound_name) %></h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-6" style="margin-left: 0">
    <%= render partial: 'compound_names/search_bar' %>
  </div>

  <div class="col-lg-6">
    <div class="pull-right">
      <%= link_to new_compound_name_path(moodle_user: params[:moodle_user]), remote: true, class: 'btn btn-default' do %>
        <%= display_icon 'plus' %> <%= t(:add_compound_name_or_suffix) %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <% if params[:search] %>
      <h4><%= t(:compound_name_search_result, search: params[:search]) %></h4>
    <% else %>
      <h4><%= t(:full_list) %></h4>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= render partial: 'compound_names/list', locals: {type: 'left'} %>
  </div>

  <div class="col-lg-6">
    <%= render partial: 'compound_names/list', locals: {type: 'right'} %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= paginate @compound_names, :params => {anchor: 'compound_names'} %>
  </div>
</div>

<!-- Modal dialog -->
<div id="ajax_content">

</div>
