
<div class="span12" style="margin-left: 0">
  <h3><%= t(:compound_name)%></h3>
  <div class="span6" style="margin-left: 0">
    <%= render :partial => 'common/search_bar', locals: {
            path: bibliographies_path( moodle_user: params[:moodle_user], anchor: 'compound_names' ),
            autocomplete_path: compound_names_autocomplete_name_path(
                    moodle_user: params[:moodle_user],
                    anchor: 'compound_names',
                    autofocus: 'autofocus'),
            simple_search_bar: true } %>
  </div>

  <div class="span6">
    <%= link_to '#',  {:remote => true, 'data-toggle' =>  'modal',
                                         'data-target' => '#modal-window-new-compound-name', class: 'btn btn-success'}  do %>
      <%= display_icon 'icon-plus icon-white' %>
      <b><%= t(:add_compound_name_or_suffix) %></b>
    <% end %>
  </div>
</div>

<div class="span12" style="margin-left: 0">
  <% if params[:search] %>
    <h4><%= t(:compound_name_search_result) + ': '%> <%= params[:search] %></h4>
  <% else %>
    <h4><%= t(:full_list) %></h4>
  <% end %>

  <div class="span6" style="margin-left: 0px;">
    <%= render partial: 'compound_names/list', locals: { type: 'left' } %>
  </div>

  <div class="span6" style="margin-right: 0px;">
    <%= render partial: 'compound_names/list', locals: { type: 'right' } %>
  </div>
  <div class="span12" style="margin-left: 0">
    <%= paginate @compound_names, :params => { anchor: 'compound_names' } %>
  </div>
</div>

<!-- Modal dialog -->
<%= render 'compound_names/new' %>