<h3>Nomes compostos</h3>

<%= render :partial => 'common/search_bar', locals: {
        path: bibliographies_path( moodle_user: params[:moodle_user], anchor: 'compound_names' ),
        autocomplete_path: compound_names_autocomplete_name_path(
                moodle_user: params[:moodle_user],anchor: 'compound_names'),
        simple_search_bar: true } %>

<% if params[:search] %>
  <h4>Resultado para: <%= params[:search] %></h4>
<% else %>
  <h4>Lista geral</h4>
<% end %>

<% if @compound_names.count > 0 %>
  <% @compound_names.each_with_index do |element, index| %>
    <% unless element.nil? %>
      <% unless index == @compound_names.size - 1 %>
        <%= element.name %>,
      <% else %>
        <%= ' '+element.name %>
      <% end %>
    <% end %>
  <% end %>
  <br />
<% else %>
  <p>Não há nomes compostos cadastrados.</p>
<% end %>

<%= paginate @compound_names, :params => { anchor: 'compound_names' } %>