<%= semantic_form_for @tcc do |f| %>
    <%= f.fields_for :abstract do |a| %>
        <h3>Resumo</h3>
        <%= a.cktext_area :content_pt %><br>
        <%= a.input :key_words_pt, :input_html => { class: "span9" } %>
    <% end %>
    <%= f.actions do %>
        <%= f.action :submit, :as => :input, :label => 'Salvar alterações' %>
    <% end %>
<% end %>

