<div id="abstract_tab_content" style = "display:none; margin-left: 0px" class = "form-horizontal span12">
  <%= f.fields_for :abstract do |a| %>
      <h3>Resumo</h3>
      <%= a.cktext_area :content_pt %><br>
      <%= a.input :key_words_pt, :input_html => { class: "span9" } %>

      <h3>Abstract</h3>
      <%= a.cktext_area :content_en %><br>
      <%= a.input :key_words_en, :input_html => { class: "span9" } %>
  <% end %>
</div>
