<% if policy(Tcc).show_internal_institutions? %>
  <%= render 'instructor_admin/navbar' %>
<% else %>
  <h3><%= t('activerecord.models.internal_institution') %></h3><br/>
<% end %>

<%= render 'common/tabs_header_config' %>

<br/>
<!--<h3>Lista de Instituições</h3>-->
<% labelAdicionar = "#{t(:add)} #{t(:internal_institution)}" %>
<% if @internal_institutions.count > 0 %>
  <%= link_to labelAdicionar, new_internal_institution_path(),
              class: 'btn btn-default' %>
  <table class="table table-striped" style="width:100%">
    <thead>
    <tr>
      <th align="center"><%= 'Logo' %> </th>
      <th style="width:60%" ><%= t('activerecord.attributes.internal_institution.institution_name') %> </th>
      <th colspan="2">Ação</th>
    </tr>
    </thead>

    <tbody>
    <% @internal_institutions.each do |internal_institution| %>
      <tr>
        <td align="center"><%= image_tag internal_institution.image_url(:small_thumb).to_s %></td>
        <td><%= internal_institution.institution_name %></td>
        <td><%= link_to t(:edit), edit_internal_institution_path(internal_institution),
                        class: 'btn btn-default' %></td>
        <td><%= link_to t(:remove),
                        internal_institution, #internal_institution_path(internal_institution),
                        class: 'btn btn-danger',
                        method: :delete,
                        data: { confirm: t(:label_confirm_message) }
        %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to labelAdicionar,  new_internal_institution_path(),
              class: 'btn btn-default' %>
<% else %>
  <div class="jumbotron">
    <p>Não há qualquer <%= t(:internal_institution) %> cadastrada.</p>
    <%= link_to labelAdicionar, new_internal_institution_path(),
                class: 'btn btn-primary' %>
  </div>
<% end %>
