<%= semantic_form_for @presentation, url: save_presentation_path(moodle_user: @tcc.moodle_user) do |p| %>
    <div class="span12">
      <div class="rounded-border row">
        <h3>Resumo</h3>
        <span>
          <a class="btn" id="compareTccObjectButtom" onclick="compareTccObject()">Comparar versões</a>
        </span>

        <div class="row">
          <!--old-->
          <div id="old_tcc_object" class="span6" style="display: none">
            <div class="rounded-border">
              <% unless @last_presentation_commented.nil? %>
                  <div class="rounded-border">
                    <h4>Versão anterior</h4>
                    <%= @last_presentation_commented.content.html_safe %>
                  </div>
                  <% unless @presentation.commentary.blank? %>
                      <div class="rounded-border">
                        <h5><i class="icon-comment"></i> Comentário do resumo anterior</h5>
                        <%= @presentation.commentary.html_safe %>
                      </div>
                  <% else %>
                      <h5 class="text-info">Sem comentário para esta versão</h5>
                  <% end %>
              <% else %>
                  <h5 class="text-info">Ainda não há versão anterior</h5>
              <% end %>
            </div>
          </div>

          <!--new-->
          <div id="new_tcc_object" class="span12">
            <div class="rounded-border">
              <div class="rounded-border">
                <h4>Versão atual</h4>
                <%= @presentation.content.html_safe %>
              </div>
              <%= render partial: 'common/tcc_child_actions', locals: { object: @presentation, f: p } %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>