<%= semantic_form_for @presentation, url: save_presentation_path do |p| %>
    <div class="span12">
      <div class="rounded-border row">
        <h3>
          Apresentação - <span class="text-info"> <%= t('states.'+@presentation.state) %></span>
          <% if @presentation.draft? && !@presentation.commentary.blank? %>
              <a class="btn" id="compareTccObjectButtom" onclick="compareTccObject()">Comparar versões</a>
          <% end %>
        </h3>
        <% if ((@presentation.draft? || @presentation.leader_evaluation_ok?) && !@presentation.commentary.blank?) %>
            <div class="rounded-border">
              <span><i class="icon-comment"></i> Comentário do avaliador</span>

              <div class="text-info">
                <%= @presentation.commentary.html_safe %>
              </div>
            </div>
        <% end %>

        <% if @presentation.draft? %>
            <div class="row">
              <div id="old_tcc_object" class="span6" style="display: none">
                <div class="rounded-border">
                  <% unless @last_presentation_commented.nil? %>
                      <h4>Última versão avaliada</h4>
                      <%= @last_presentation_commented.content.html_safe %>
                  <% else %>
                      <p class="text-error">Este eixo ainda não foi avaliado</p>
                  <% end %>
                </div>
              </div>
              <div id="new_tcc_object" class="span12">
                <div class="rounded-border">
                  <%= p.cktext_area :content %><br>
                  <%= p.actions do %>
                      <%= render partial: 'common/state_options', locals: {f:p} %>
                      <%= p.action :submit, :as => :input, :label => 'Salvar alterações' %>
                  <% end %>
                </div>
              </div>
            </div>
        <% else %>
            <%= p.input :content, :as => :ckeditor, label: false, input_html: {ckeditor: {readOnly: true}} %>
        <% end %>
      </div>
    </div>
<% end %>
