<%= semantic_form_for @final_considerations, url: save_final_considerations_path do |f| %>
    <div class="span12">
      <div class="rounded-border row">
        <h3>
          Considerações finais - <span class="text-info"> <%= t('states.'+@final_considerations.state) %></span>
          <% if @final_considerations.draft? && !@final_considerations.commentary.blank? %>
              <a class="btn" id="compareTccObjectButtom" onclick="compareTccObject()">Comparar versões</a>
          <% end %>
        </h3>
        <% if ((@final_considerations.draft? || @final_considerations.admin_evaluation_ok?) && !@final_considerations.commentary.blank?) %>
            <div class="rounded-border">
              <span><i class="icon-comment"></i> Comentário do avaliador</span>

              <div class="text-info">
                <%= @final_considerations.commentary.html_safe %>
              </div>
            </div>
        <% end %>

        <% if @final_considerations.draft? %>
            <div class="row">
              <div id="old_tcc_object" class="span6" style="display: none">
                <div class="rounded-border">
                  <% unless @last_final_considerations_commented.nil? %>
                      <h4>Última versão avaliada</h4>
                      <%= @last_final_considerations_commented.content.html_safe %>
                  <% else %>
                      <p class="text-error">Este eixo ainda não foi avaliado</p>
                  <% end %>
                </div>
              </div>
              <div id="new_tcc_object" class="span12">
                <div class="rounded-border">
                  <%= f.cktext_area :content %><br>
                  <%= f.actions do %>
                      <%= render partial: 'common/state_options', locals: {f:f} %>
                      <%= f.action :submit, :as => :input, :label => 'Salvar alterações' %>
                  <% end %>
                </div>
              </div>
            </div>
        <% else %>
            <%= f.input :content, :as => :ckeditor, label: false, input_html: {ckeditor: {readOnly: true}} %>
        <% end %>
      </div>
    </div>
<% end %>