<div class="row">
  <%= form_tag instructor_admin_path, method: 'get', html: {class: ''} do %>
    <!-- para garantir a autenticacão -->
    <%= hidden_field_tag 'moodle_user', params[:moodle_user] %>
    <div class="col-sm-8 col-md-6 col-lg-5">
      <div class="input-group">
        <%= autocomplete_field_tag :search, params[:search], instructor_admin_autocomplete_tcc_name_path,
                                   {placeholder: 'Busca', class: 'form-control', autofocus: 'autofocus'} %>

        <!-- para mitigar um problema na atualização automática no Windows
             utilizado no instructor_admin.sj -->
        <input type="hidden" id="tcc-focus">

        <div class="input-group-btn">
          <%= link_to instructor_admin_path, class: 'btn btn-default', id: 'clean-search', title: t('clear_filter') do %>
            <%= display_icon('remove') %>
          <% end %>

          <%= button_tag class: 'btn btn-default', name: nil, title: t('apply_filter') do %>
            <%= display_icon('search') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-2 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-5">
      <div class="pull-right">
        <%= link_to '#', class: 'btn btn-default', id: 'refresh-list', title: 'Atualizar a lista abaixo' do %>
          <%= display_icon('refresh') %> <%= t(:list_refresh) %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>