<table class="table table-bordered col-lg-12" id="tcc-table">
  <thead>
  <tr class="blue-header-table">
    <th class="name">Estudante</th>
    <th class="status">Nota</th>
    <th class="status">Resumo</th>
    <% @chapters.each do |chapter_name| %>
      <th class="status"><%= chapter_name %></th>
    <% end %>
    <th class="action">Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @tccs.each do |tcc| %>

    <%= render :partial => 'instructor_admin/grade_tcc', locals: {tcc: tcc} if policy(tcc).show_assign_grade? %>

    <tr>
      <td class="name">
        <%= student_name(tcc) %>
      </td>
      <% if tcc.grade.nil? # nao tem nota   %>
        <% if policy(tcc).can_grade? # verifica se terminou   %>
          <% if policy(tcc).edit_assign_grade? # pode editar a nota  %>
            <%= grade_cell(tcc, 'insert_grade', 'Clique para atribuir a nota') %>
          <% else # nao tem nota, terminou mas não pode editar a nota   %>
            <%= grade_cell(tcc, 'for_evaluation', '') %>
          <% end %>
        <% else # nao tem nota e não terminou  %>
          <%= grade_cell(tcc, 'waiting', '') %>
        <% end %>
      <% else # tem nota  %>
        <% if policy(tcc).can_grade? # verifica se terminou   %>
          <% if policy(tcc).edit_assign_grade? # pode editar a nota   %>
            <%= grade_cell(tcc, 'valued', 'Clique para alterar a nota') %>
          <% else # tem nota mas não pode editá-la   %>
            <%= grade_cell(tcc, 'readonly', '') %>
          <% end %>
        <% else #tem nota e não terminou  %>
          <%= grade_cell(tcc, 'readonly', '') %>
        <% end %>
      <% end %>
      <%= status_cell(tcc.abstract, edit_abstracts_path(moodle_user: tcc.student.moodle_id)) %>

      <% tcc.chapter_definitions.each do |chapter_definition| %>
        <% chapter = tcc.chapters.select { |chapter| chapter.position == chapter_definition.position }.first %>

        <%= status_cell(chapter, edit_chapters_path(position: chapter.position, moodle_user: tcc.student.moodle_id)) %>
      <% end %>
      <td class="action">
        <div class="btn-group">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
            <%= display_icon('tasks') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <%= link_to tcc_path(moodle_user: tcc.student.moodle_id), target: '_blank' do %>
                <%= display_icon('edit') %> Editar informações
              <% end %>
            </li>
            <li>
              <%= link_to bibliographies_path(moodle_user: tcc.student.moodle_id), target: '_blank' do %>
                <%= display_icon('book') %> Editar bibliografia
              <% end %>
            </li>
            <li>
              <%= link_to preview_tcc_path(tcc.student.moodle_id), target: '_blank' do %>
                <%= display_icon('file') %> Pré-visualizar TCC
              <% end %>
            </li>
            <li>
              <%= link_to generate_tcc_path(tcc.student.moodle_id), target: '_blank' do %>
                <%= display_icon('print') %> Gerar documento do TCC
              <% end %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
