<h4>
  Tela de Tutor para <%= @group_name %>
  <%= link_to display_icon('icon-refresh'), '#', class: 'btn', id: 'refresh-list', title: 'Atualizar lista' %>
</h4>

<table class="table table-bordered">
  <thead>
  <tr class="blue-header-table">
    <th>Estudante</th>
    <% @hubs.each do |hub_name| %>
      <th><%= hub_name %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @tccs.each do |tcc| %>
    <tr>
      <td><%= tcc.name %></td>
      <% tcc.fetch_all_hubs.each do |hub| %>
        <td>
          <%= get_state(hub) %> <%= "/ Nota: #{hub.grade} " if hub.admin_evaluation_ok? %>:
          <%= link_to get_action(hub),
                      show_hubs_path(position: (hub.position), moodle_user: tcc.moodle_user),
                      target: '_blank', class: 'label label-success' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>
