<h3>Lista de Portfólios</h3><br/>
<h4>
  Tela de Tutor para <%= @group_name %>
</h4>

<%= link_to '#', class: 'btn', id: 'refresh-list', title: 'Atualizar lista' do %>
  <%= display_icon('icon-refresh') %> Atualizar lista
<% end %>

<table class="table table-bordered" id="hubs-table">
  <thead>
  <tr class="blue-header-table">
    <th rowspan="2">Estudante</th>
    <% @hubs.each do |hub_name| %>
      <th colspan="2"><%= hub_name %></th>
    <% end %>
  </tr>
  <tr class="blue-header-table">
    <% @hubs.each do |hub_name| %>
      <th class="status">Estado</th>
      <th class="grades">Nota</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @tccs.each do |tcc| %>
    <tr>
      <td>
        <%= tcc.name %>
        <%= link_to preview_tcc_path(tcc.moodle_user), target: '_blank' do %>
            <small>Imprimir TCC</small>
        <% end %>
        <%= link_to "showpdf.pdf?moodle_user=#{tcc.moodle_user}", target: '_blank' do %>
            <small>Gerar TCC</small>
        <% end %>
      </td>
      <% tcc.hub_definitions.each do |hub_definition| %>
        <% hub = tcc.hubs.hub_portfolio.where(hub_definition_id: hub_definition.id).first %>

        <% if hub.nil? %>
          <td class="empty-content"/>
          <td class="empty-content"/>
        <% else %>
          <td class="status">
            <%= hub_status_label(hub, tcc.moodle_user) %>
          </td>
          <td class="grades">
            <%= hub.grade if hub.show_grade? %>
          </td>
        <% end %>

      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>
<%= will_paginate @tccs %>
