<%= semantic_form_for @book_ref do |ref| %>
  <div id="data_tab_content">
    <%= ref.inputs do %>
      <div class="span4">
        <%= ref.input :et_all %>
        <%= ref.input :first_author %>
        <%= ref.input :second_author %>
        <%= ref.input :third_author %>
      </div>
      <div class="span4">
        <%= ref.input :edition_number %>
        <%= ref.input :local %>
        <%= ref.input :type_quantity, :as => :radio, :collection => {'Número de Páginas' => 'p', 'Número de Volumes' => 'ed'} %>
        <%= ref.input :num_quantity %>
      </div>
      <div class="span3">
        <%= ref.input :title %>
        <%= ref.input :subtitle %>
        <%= ref.input :year %>
        <%= ref.input :publisher %>
      </div>
    <% end %>
    <%= ref.actions :submit %>
  </div>
<% end %>