<%= semantic_form_for @abstract, url: save_abstract_path(moodle_user: @tcc.moodle_user) do |a| %>
    <div class="span12">
      <div class="rounded-border row">
        <h3>Resumo</h3>
        <span>
          <a class="btn" id="compareTccObjectButtom" onclick="compareTccObject()">Comparar versões</a>
        </span>

        <div class="row">
          <!--old-->
          <div id="old_tcc_object" class="span6" style="display: none">
            <div class="rounded-border">
              <% unless @last_abstract_commented.nil? %>
                  <div class="rounded-border">
                    <h4>Versão anterior</h4>
                    <%= @last_abstract_commented.content_pt.html_safe %>
                  </div>
                  <div class="rounded-border">
                    <h4>Palavras-chave</h4>
                    <%= @last_abstract_commented.key_words_pt.html_safe %>
                  </div>
                  <% unless @abstract.commentary.blank? %>
                      <div class="rounded-border">
                        <h5><i class="icon-comment"></i> Comentário do resumo anterior</h5>
                        <%= @abstract.commentary.html_safe %>
                      </div>
                  <% else %>
                      <h5 class="text-info">Sem comentário para esta versão</h5>
                  <% end %>
              <% else %>
                  <h5 class="text-info">Ainda não há versão anterior</h5>
              <% end %>
            </div>
          </div>

          <!--new-->
          <div id="new_tcc_object" class="span12">
            <div class="rounded-border">
              <div class="rounded-border">
                <h4>Versão atual</h4>
                <%= @abstract.content_pt.html_safe %>
              </div>
              <div class="rounded-border">
                <h4>Palavras-chave</h4>
                <%= @abstract.key_words_pt.html_safe %>
              </div>
              <% unless @abstract.draft? || @abstract.admin_evaluation_ok? %>
                  <%= a.input :commentary, :as => :text, label: 'Comentário', input_html: {rows: "4", value: ""} %>
                  <%= submit_tag 'Enviar para rascunho', name: "draft" %>
                  <% if @abstract.sent_to_admin_for_evaluation? %>
                      <%= submit_tag 'Avaliado', name: "valued" %>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>