<div class="page-header">
  <h3><%= t('activerecord.attributes.abstract.content_pt') %>
    <small>
      <strong>
        <%= "[#{@abstract.human_state_name}]" %>
        <%= " - #{@abstract.state_date.strftime('%d-%m-%Y')}" unless @abstract.state_date.nil? %>
      </strong>
      <%= " - #{@tcc.student.name}" if policy(@tcc).show_student? %>
    </small>
  </h3>
</div>

<%= semantic_form_for @abstract, url: abstracts_path(moodle_user: params[:moodle_user]) do |form| %>
  <div class="panel rounded-border">
    <%= form.cktext_area :content, {ckeditor: {readOnly: !policy(@abstract).edit_content?}} %><br/>
    <%= form.input :keywords, input_html: {class: 'span12', disabled: !policy(@abstract).edit_content?} %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Feedback do orientador</div>
    <div class="panel-body">
      <%= semantic_fields_for @comment do |cf| %>
        <%= cf.input :comment, input_html: {rows: '3', disabled: !policy(@abstract).edit_comment?} %>
      <% end %>
    </div>
  </div>


  <%= render partial: 'common/document_footer',
             locals: {object: @chapter,
                      object_form: form,
                      can_save: policy(@abstract).edit_content? || policy(@abstract).edit_comment?,
                      can_send_to_review: policy(@abstract).can_send_to_review?,
                      can_send_draft_done: policy(@abstract).can_send_to_draft_done?,
                      can_send_review_admin: policy(@abstract).can_send_to_review_admin?,
                      can_send_draft_admin: policy(@abstract).can_send_to_draft_admin?
             } %>
</div>
<% end %>