<!--old-->
<% unless @old_hub.nil? %>
        <div class="span5">
              <%= @old_hub.reflection.html_safe %>
              <%= @old_comment.content %>
        </div>
<% end %>

<!--new-->
<div class="span5">
  <%= semantic_form_for @comment, url: save_hubs_path(:category => @hub.category, :moodle_user => @tcc.moodle_user)  do |c| %>
      <%= @hub.reflection.html_safe %>
      <%= c.input :content  %>
      <%= c.input :version_id, :as => :hidden %>
      <%= c.action :submit, :as => :input, :label => 'Enviar comentário' %>
  <% end %>
</div>
