<h3>Eixo <%= @hub.category %></h3>
<%= semantic_form_for @hub, url: save_hubs_path(:category => @hub.category, :moodle_user => @tcc.moodle_user) do |h| %>
  <!--diaries-->
  <%= render :partial => "diaries", :locals => {h: h, accordion_type: "admin_view"} %>

  <div class="span12">
      <div class="rounded-border row">
        <span>
          <a class="btn" id="compareHubsButtom" onclick="compareHubs()">Comparar versões</a>
        </span>
        <div class="row">
            <!--old-->
            <div id="old_hub" class="span6" style="display: none">
              <div class="rounded-border">
                  <% unless @last_hub_commented.nil? %>
                      <div class="rounded-border">
                        <h4>Versão anterior da reflexão</h4>
                        <%= @last_hub_commented.reflection.html_safe %>
                      </div>
                      <% unless @hub.commentary.blank? %>
                          <div class="rounded-border">
                            <h5><i class="icon-comment"></i> Comentário da reflexão anterior</h5>
                            <%= @hub.commentary.html_safe %>
                          </div>
                      <% else %>
                          <h5 style="color: blue">Sem comentário para esta versão</h5>
                      <% end %>
                  <% else %>
                    <h5 style="color: blue">Ainda não há versão anterior</h5>
                  <% end %>
              </div>
            </div>

            <!--new-->
            <div id="new_hub" class="span12">
              <div class="rounded-border">
                  <div class="rounded-border">
                    <h4>Versão atual da reflexão</h4>
                    <%= @hub.reflection.html_safe %>
                  </div>
                  <% if @hub.state == "sent_to_tutor_for_evaluation" %>
                      <%= h.input :grade, :as => :number, :label => "Nota (de 0 à 10)" %>
                  <% end %>
                  <% if @hub.state == "draft" || @hub.state == "tutor_evaluation_ok" %>
                      <%= h.input :commentary, :as => :text, :label => 'Comentário', :input_html => {readonly: true, rows: "4", style: "width:365px;"} %>
                  <% else %>
                      <%= h.input :commentary, :as => :text, :label => 'Comentário', :input_html => {rows: "4", style: "width:365px;", value: "" } %>
                      <%= h.action :submit, :as => :input, :label => 'Enviar para rascunho' %>
                  <% end %>
              </div>
            </div>
        </div>
      </div>
  </div>
<% end %>

