<!--diaries-->
<%= render partial: 'diaries', locals: {hub: @hub, accordion_type: 'admin_view'} %>

<div class="rounded-border row">
  <div class="row">
    <div class="span12">
      <div class="row">
        <% unless @current_user.view_all? %>
          <h3 class="span12"> Reflexões do <%= @hub.hub_definition.title %> -
              <span class="text-info">
                <%= t('states.'+@hub.aasm.current_state.to_s) %>
                <%= "/ Nota: #{@hub.grade}" if @hub.show_grade? %>
              </span>
          </h3>
        <% else %>
          <div class="span12 inline">
            <h3 class="pull-left">
              Reflexões do <%= @hub.hub_definition.title %> -
            </h3>
            <% if !@hub.nil? && !@hub.terminated? %>
              <% if @current_user.view_all? %>
                <%= render partial: 'states', locals: {hub: @hub} %>
              <% end %>
            <% elsif @hub.terminated? %>
              <h3> Avaliado</h3>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <!-- compare button -->
  <div class="row">
    <div class="span12">
      <%= link_to 'Comparar versões', '#', class: 'btn', id: 'compareTccObjectButtom', onclick: 'compareTccObject()' %>
    </div>
  </div>

  <div class="row">

    <!--old-->
    <div id="old_tcc_object" class="span6" style="display: none">
      <div class="rounded-border">
        <% unless @last_hub_commented.nil? || @last_hub_commented.reflection.nil? %>
          <div class="rounded-border">
            <h4>Versão anterior da reflexão</h4>
            <h5 class="underline-text"><%= @last_hub_commented.reflection_title %></h5>
            <%= cktext_area(:last_hub_commented, :reflection, {ckeditor: {readOnly: true, toolbar: 'readonly',
                                                                          height: '100%'}}) %>
          </div>
          <% unless @hub.commentary.blank? %>
            <div class="rounded-border">
              <h5><%= display_icon('icon-comment') %> Comentário da reflexão anterior</h5>
              <%= cktext_area(:last_hub_commented, :reflection, {ckeditor: {readOnly: true, toolbar: 'readonly',
                                                                            height: '100%'}}) %>
            </div>
          <% else %>
            <h5 class="text-info">Sem comentário para esta versão</h5>
          <% end %>
        <% else %>
          <h5 class="text-info">Ainda não há versão anterior</h5>
        <% end %>
      </div>
    </div>

    <!--new-->
    <div id="new_tcc_object" class="span12">
      <div class="rounded-border">
        <%= semantic_form_for @hub, url: save_hubs_path(position: @hub.position, moodle_user: @tcc.moodle_user) do |h| %>
          <div class="rounded-border">
            <h4>Versão atual da reflexão</h4>
            <% if (@hub.sent_to_admin_for_revision? || @hub.sent_to_admin_for_evaluation?) && @current_user.orientador? && @type == 'tcc' %>
              <%= h.input :reflection_title, :input_html => {class: 'span9'} %>
              <%= h.cktext_area :reflection %>
            <% else %>
              <h4 class="underline-text"><%= @hub.reflection_title if @hub.show_title? %></h4>
              <%= cktext_area(:hub, :reflection, {ckeditor: {readOnly: true, toolbar: 'readonly',
                                                                            height: '100%'}}) %>
            <% end %>
          </div>

          <%= h.input :position, :as => :hidden %>
          <% if @hub.sent_to_admin_for_evaluation? && @current_user.tutor? && @type == 'portfolio' %>
            <%= h.input :grade, :as => :number, label: 'Nota (de 0 à 100)' %>
          <% end %>
          <%= render partial: 'common/tcc_child_actions_admin', locals: {object: @hub, f: h} %>
        <% end %>
      </div>
    </div>
  </div>
</div>