<!--old-->
<% unless @old_hub.nil? %>
        <div class="span5">
              <h3>Versão anterior da reflexão</h3>
              <%= @old_hub.reflection.html_safe %>
              <%= @old_hub.comments.inspect %>
              <% if @old_comment.size > 0 %>
                <%= @old_comment.first.content.html_safe %>
              <% else %>
                <h5 style="color: blue">Sem comentário para esta versão</h5>
              <% end %>
        </div>
<% end %>

<!--new-->
<div class="span5">
  <%= semantic_form_for @comment, url: save_hubs_path(:category => @hub.category, :moodle_user => @tcc.moodle_user)  do |c| %>
      <h3>Versão atual da reflexão</h3>
      <%= @hub.reflection.html_safe %>
      <% if @hub.state == "sent_to_tutor_for_evaluation" %>
          <%= c.input :hub_grade, :as => :number, :label => "Nota(de 0 à 1)" %>
      <% end %>
      <% if @hub.state == "draft" || @hub.state == "tutor_evaluation_ok" %>
        <%= c.input :content, :label => 'Comentário', :input_html => { :readonly => true } %>
      <% else %>
        <%= c.input :content, :label => 'Comentário' %>
        <%= c.action :submit, :as => :input, :label => 'Enviar comentário' %>
      <% end %>
  <% end %>
</div>
