<!--diaries-->
<%= h.semantic_fields_for :diaries do |d| %>
    <div class="accordion-group <%=h @hub.category %>">
      <div class="accordion-heading">
        <a id="<%=h d.object_id %>" class="accordion-toggle">
          <%= d.object.title %>
        </a>
      </div>
      <div id="<%=h d.object_id %>_collapse" class="collapse out <%=j accordion_type %>">
        <div class="accordion-inner">
          <%= diary_content(d.object.content) %>
        </div>
      </div>
      <div style="text-align:center; padding-bottom: 0px">
        <a id="<%=h d.object_id %>" class="accordion-toggle-icon accordion-toggle" href="#"><%= display_icon('icon-chevron-down') %></a>
      </div>
    </div>
<% end %>