<%= semantic_form_for @hub, url: save_hubs_path(:category => @hub.category, :action_state => "draft") do |h| %>
    <h3>Eixo <%= @hub.category %></h3>
    <%= h.input :category, :as => :hidden %>
    <%= render :partial => "diaries", :locals => {h: h, accordion_type: "user_view"} %>
    <h3>Reflexões do eixo <%= @hub.category %>: <span style="color: blue"><%= t('states.'+@hub.state) %></span></h3>

    <% if @hub.state == "draft" %>
        <%= h.cktext_area :reflection %>
        <%= h.actions do %>
            <%= h.input :new_state, :as => :radio, label: false,
                        :collection => {'Salvar como rascunho' => :draft,
                                        'Enviar para revisao' => :revision,
                                        'Enviar para avaliação' => :evaluation} %>
            <%= h.action :submit, :as => :input, :label => 'Salvar' %>
        <% end %>
    <% else %>
        <%= h.input :reflection, as: :ckeditor, label: false, input_html: {ckeditor: {readOnly: true}} %>
    <% end %>
<% end %>