<%= semantic_form_for @article_ref do |ref| %>
    <div id="data_tab_content">
      <%= ref.inputs do %>
          <div class="span4">
            <%= ref.input :first_author %>
            <%= ref.input :second_author %>
            <%= ref.input :third_author %>
            <%= ref.input :et_all, :label => false %>
          </div>
          <div class="span4">
            <%= ref.input :article_title %>
            <%= ref.input :article_subtitle %>
            <%= ref.input :journal_name %>
            <%= ref.input :local %>
          </div>
          <div class="span3">
            <%= ref.input :volume_number %>
            <%= ref.input :number_or_fascicle %>
            <%= ref.input :publication_date, :as => :string, :hint => 'Formato: dd/mm/aaaa',
                          :input_html => {:'data-behaviour' => 'datepicker',
                                          value: ((I18n.l @article_ref.publication_date) unless @article_ref.publication_date.nil?)} %>
            <div style='width:110px; float:left;'>
              <%= ref.input :initial_page, :input_html => {:min => 0, :style => 'width:90px;'} %>
            </div>
            <div style='width:110px; float:left;'>
              <%= ref.input :end_page, :input_html => {:min => 0, :style => 'width:90px;'} %>
            </div>
          </div>
      <% end %>
      <%= required_fields  %>
      <%= ref.actions :submit %>
    </div>
<% end %>