<%= semantic_form_for @article_ref, url: polymorphic_path(@article_ref, moodle_user: params[:moodle_user]) do |ref| %>
  <div id="data_tab_content">
    <%= ref.inputs do %>
      <div class="col-lg-4">
        <%= ref.input :et_all, :label => false %>
        <%= ref.input :first_author, input_html: {:autofocus => true} %>
        <%= ref.input :second_author %>
        <%= ref.input :third_author %>
      </div>
      <div class="col-lg-4">
        <%= ref.input :article_title %>
        <%= ref.input :article_subtitle %>
        <%= ref.input :journal_name %>
        <%= ref.input :local %>
      </div>
      <div class="col-lg-4">
        <%= ref.input :volume_number %>
        <%= ref.input :number_or_fascicle %>
        <%= ref.input :year, :input_html => {:min => 0, :max => Date.today.year} %>
        <div class="row">
          <div class="col-sm-6"><%= ref.input :initial_page, input_html: {min: 0} %></div>
          <div class="col-sm-6"><%= ref.input :end_page, input_html: {min: 0} %></div>
        </div>
      </div>
    <% end %>
    <%= required_fields %>
    <%= ref.actions do %>
      <%= ref.action :submit, button_html: {class: 'btn btn-primary'} %>
      <%= ref.action :cancel, button_html: {class: 'btn btn-default'}, url: bibliographies_path(params[:moodle_user], anchor: 'article') %>
    <% end %>
  </div>
<% end %>