<%= semantic_form_for @thesis_ref, url: polymorphic_path(@thesis_ref, moodle_user: params[:moodle_user]) do |ref| %>
  <div id="data_tab_content">
    <%= ref.inputs do %>
      <div class="span4">
        <%= ref.input :author %>
        <%= ref.input :title %>
        <%= ref.input :subtitle %>
        <%= ref.input :local %>
      </div>
      <div class="span4">
        <%= ref.input :year, :input_html => {:min => 0, :max => Date.today.year} %>
        <%= ref.input :chapter %>
        <%= ref.input :type_thesis, :as => :radio, :collection => ThesisRef::THESIS_TYPES %>
        <%= ref.input :type_number, :as => :radio, :collection => ThesisRef::TYPES %>
        <%= ref.input :pages_or_volumes_number, :input_html => {:min => 1}, :label => false %>
      </div>
      <div class="span4">
        <%= ref.input :degree, :name => 'degree_options', :collection => ThesisRef::DEGREE_TYPES,
                      :input_html => {:disabled => true} %>
        <input id="degree" type="hidden" name="thesis_ref[degree]"/>


        <%= ref.input :institution %>
        <%= ref.input :year_of_submission, :input_html => {:min => 0, :max => Date.today.year} %>
        <%= ref.input :course %>
        <%= ref.input :department %>
      </div>
      </div>
    <% end %>
    <%= required_fields %>
    <%= ref.actions :submit %>
    </div>
<% end %>