<%= render partial: 'header', locals: {object: @chapter, object_label: @chapter.chapter_definition.title} %>

<%= semantic_form_for @chapter, url: save_chapters_path(position: @chapter.position) do |form| %>
  <%= form.input :position, :as => :hidden %>

  <div class="panel rounded-border">
    <%= form.cktext_area :content, {ckeditor: {readOnly: !policy(@chapter).edit_content?}} %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Feedback do orientador</div>
    <div class="panel-body">
      <%= semantic_fields_for @comment do |cf| %>
        <%= cf.input :comment, input_html: {rows: '3', disabled: !policy(@chapter).edit_comment?} %>
      <% end %>
    </div>
  </div>
    <%= render partial: 'common/document_footer',
               locals: {object: @chapter,
                        object_form: form,
                        can_save: policy(@chapter).edit_content? || policy(@chapter).edit_comment?,
                        can_send_to_review: policy(@chapter).can_send_to_review?,
                        can_send_draft_done: policy(@chapter).can_send_to_draft_done?,
                        can_send_review_admin: policy(@chapter).can_send_to_review_admin?,
                        can_send_draft_admin: policy(@chapter).can_send_to_draft_admin?
               } %>
  </div>

<% end %>