<%= semantic_form_for @chapter, url: save_chapters_path(position: @chapter.position) do |h| %>
  <%= h.input :position, :as => :hidden %>

  <div class="row">
    <%= render partial: 'common/document_header', locals: {object: @chapter, object_label: @chapter.chapter_definition.title} %>
    <div class="panel rounded-border">
      <%= h.cktext_area :content,  {ckeditor: {readOnly: !policy(@chapter).edit_content? }} %>

      <br/>
      <%= semantic_form_for @chapter_comment, url: chapter_comments_path(@chapter_comment,
                                                                         moodle_user: params[:moodle_user]) do |t| %>
        <%= t.input :comment, input_html: {rows: '3',
                                           class: 'span12',
                                           style: 'width:98%; max-width:98%;',
                                           disabled: !policy(@chapter).edit_comment?,
                                           maxlength: '5000'
        } %>
      <% end %>
      <%= render partial: 'common/document_footer',
                 locals: { object: @chapter,
                           object_form: h,
                           can_save: policy(@chapter).edit_content? || policy(@chapter).edit_comment?,
                           can_send_to_review: policy(@chapter).can_send_to_review? ,
                           can_send_draft_done: policy(@chapter).can_send_to_draft_done?
                 } %>
    </div>
  </div>

<% end %>