<h3>Dados</h3>
<%= semantic_form_for @tcc, url: save_tcc_path(moodle_user: params[:moodle_user]) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, input_html: {style: 'width:450px;'} %>

    <%= f.inputs :for => :student do |s| %>
      <%= s.input :name, input_html: {style: 'width:450px;', disabled: true, value: @student.name} %>
    <% end %>

    <%= f.inputs :for => :orientador do |s| %>
      <%= s.input :name, input_html: {style: 'width:450px;', disabled: true, value: @tcc.orientador.name} %>
    <% end %>

    <% if @current_user.coordenador_avea? %>
      <%= f.input :defense_date, input_html: {style: 'width:141px;'} %>
    <% else %>
      <%= f.input :defense_date, :as => :string, input_html: {style: 'width:450px;', disabled: true,
                                                              value: @tcc.defense_date} %>
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, label: 'Salvar alterações' %>

    <%= link_to preview_tcc_path(moodle_user: params[:moodle_user]), class: 'btn', target: '_blank' do %>
      <%= display_icon('icon-file') %> Pré-visualizar TCC
    <% end %>

    <%= link_to generate_tcc_path(moodle_user: params[:moodle_user]), class: 'btn btn-info', target: '_blank' do %>
      <%= display_icon('icon-print') %> Gerar documento do TCC
    <% end %>
  <% end %>
<% end %>
