<div id="data_tab_content">
  <%= render :partial => 'tccs/forms/data' %>
</div>
<div id="abstract_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/abstract' %>
</div>
<div id="presentation_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/presentation' %>
</div>
<div id="hub1_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/hub1' %>
</div>
<div id="hub2_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/hub2' %>
</div>
<div id="hub3_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/hub3' %>
</div>
<div id="final_consideration_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/final_consideration' %>
</div>
<div id="bibliographies_tab_content" style = "display:none">
  <%= render :partial => 'tccs/forms/bibliographies' %>
</div>
