<%= semantic_form_for @general_ref do |ref|%>
    <div id="data_tab_content">
      <%= ref.inputs do %>
          <%= ref.input :direct_citation %>
          <%= ref.input :indirect_citation %>
          <%= ref.input :reference_text %>
          <%= ref.actions :submit %>
      <% end %>
    </div>
<% end %>