<% unless @general_ref.nil? %>
    <h3><%= @general_ref.reference_text %></h3>
    <table class="table">
      <thead>
      <tr>
        <th>Citação direta</th>
        <th>Citação indireta</th>
        <th>Ação</th>
      </tr>
      </thead>
      <tr>
        <td><%= @general_ref.direct_citation %></td>
        <td><%= @general_ref.indirect_citation %></td>
        <td>
          <%= link_to 'Editar', :controller => @general_ref.class.to_s.tableize, :action => 'edit', :id => @general_ref.id %>
          <%= link_to 'Remover', general_ref_path(@general_ref), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    </table>
<% else %>
    <h3>Referência não encontrada.</h3>
<% end %>