<%= reference_page_title 'Referências de Capítulos de Livros' %>

<% if @book_cap_refs.count > 0 %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Autor do Livro</th>
      <th>Autor do Capítulo</th>
      <th>Título do Livro</th>
      <th>Título do Capítulo</th>
      <th>Ano</th>
      <th>Editora</th>
      <th>Local (Cidade)</th>
      <th>Ação</th>
    </tr>
    </thead>
    <% @book_cap_refs.each do |element| %>
      <% if !element.nil? %>
        <tr>
          <td><%= element.first_entire_author %></td>
          <td><%= element.first_part_author %></td>
          <td><%= element.book_title %></td>
          <td><%= element.cap_title %></td>
          <td><%= element.year %></td>
          <td><%= element.publisher %></td>
          <td><%= element.local %></td>
          <td>
            <%= link_to 'Editar', edit_book_cap_ref_path(element.id, moodle_user: params[:moodle_user]) %>
            <%= link_to 'Remover', book_cap_ref_path(element, moodle_user: params[:moodle_user]), confirm: t(:label_confirm_message), :method => :delete %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= link_to t('add_new_reference_button'), new_book_cap_ref_path(moodle_user: params[:moodle_user]), class: 'btn btn-default btn-small' %>
<% else %>
  <div class="jumbotron">
    <p>Não há referências cadastradas.</p>
    <%= link_to t('add_new_reference_button'), new_book_cap_ref_path(moodle_user: params[:moodle_user]), class: 'btn btn-primary' %>
  </div>
<% end %>