<table class="table table-bordered col-lg-12" id="tcc-table">
  <thead>
  <tr class="blue-header-table">
    <th class="status">Imprimir</th>
    <th class="status">Orientador</th>
    <th class="status">Estudante</th>
    <th class="status">Título</th>
    <th class="status">Nota</th>
  </tr>
  </thead>
  <tbody>
  <% @batch_prints.each do |batch_print| %>

    <tr>
      <td class="name">
        <input type="checkbox" name="must_print" value="<%= "#{@current_moodle_user}-#{batch_print.tcc_id}" %>">
      </td>
      <td class="name">
        <strong><%= "#{batch_print.tcc.orientador.name}" %></strong>
      </td>
      <td class="name">
        <%= bp_student_name(batch_print.tcc) %>
      </td>
      <td class="status">
        <%= "#{batch_print.tcc.title}" %>
      </td>
      <% if batch_print.tcc.grade.nil? # nao tem nota      %>
        <% if policy(batch_print.tcc).can_grade? # verifica se terminou      %>
          <%= grade_cell(batch_print.tcc, 'for_evaluation', '') %>
        <% else # nao tem nota e não terminou     %>
          <%= grade_cell(batch_print.tcc, 'waiting', '') %>
        <% end %>
      <% else # tem nota     %>
        <%= grade_cell(batch_print.tcc, 'readonly', '') %>
      <% end %>
    </tr>
  <% end %>
  </tbody>

  </div>
</table>
