<%= semantic_form_for @legislative_ref do |ref| %>
    <div id="data_tab_content">
      <input type="hidden" name="moodle_user" value="<%=j params[:moodle_user] %>" />
      <%= ref.inputs do %>
          <div class="span12">
            <div class="span3">
              <%= ref.input :jurisdiction_or_header %>
              <%= ref.input :title %>
              <%= ref.input :edition %>
              <%= ref.input :local %>
            </div>
            <div class="span3">
              <%= ref.input :publisher %>
              <%= ref.input :year %>
              <%= ref.input :total_pages, :input_html => { :min => 0 }%>
            </div>
          </div>
      <% end %>
      <%= required_fields  %>
      <%= ref.actions :submit %>
    </div>
<% end %>