<% if can_save || can_send_to_review || can_send_draft_done || can_send_draft_admin || can_send_review_admin %>
  <div class="form-actions">
    <%= object_form.action :submit, :as => :input, label: t(:save_document),
                           button_html: {class: 'btn btn-primary', disabled: !can_save} if can_save
    %>
    <%= object_form.action :submit, :as => :input, label: t('activerecord.state_machines.events.to_draft'),
                           button_html: {class: 'btn btn-default', name: 'draft'} if can_send_draft_done
    %>
    <%= object_form.action :submit, :as => :input, label: t('activerecord.state_machines.events.to_review'),
                           button_html: {class: 'btn btn-default', name: 'review',
                                         data: {confirm: t(:warn_message_send_to_review_html)}} if can_send_to_review
    %>
    <%= object_form.action :submit, :as => :input, label: t('activerecord.state_machines.events.to_done'),
                           button_html: {class: 'btn btn-success', name: 'done',
                                         data: {confirm: done_message(false),
                                                with_citation: with_citation_message(object),
                                                without_citation:  without_citation_message(object)}} if can_send_draft_done
    %>
    <%= object_form.action :submit, :as => :input, label: t('activerecord.state_machines.events.to_draft_admin'),
                           button_html: {class: 'btn btn-warning', name: 'draft_admin'} if can_send_draft_admin
    %>
    <%= object_form.action :submit, :as => :input, label: t('activerecord.state_machines.events.to_review_admin',
                advisor_nomenclature: object.tcc.tcc_definition.advisor_nomenclature.downcase),
                           button_html: {class: 'btn btn-warning', name: 'review_admin'} if can_send_review_admin
    %>
  </div>
<% end %>
