<%= form_tag path, :method => 'get', :html => {class: ''} do %>
  <!-- para garantir a autenticacão -->
  <%= hidden_field_tag 'moodle_user', params[:moodle_user] %>

  <div class="input-append">
    <%= autocomplete_field_tag :search, params[:search], autocomplete_path, {
            placeholder: 'Busca', class: 'clearable'} %>

    <%= link_to path, class: 'btn', id: 'clean-search', title: 'Eliminar critérios de pesquisa' do %>
      <%= display_icon('icon-remove') %>
    <% end %>

    <%= button_tag :class => 'btn btn-default', name: nil, title: 'Filtrar lista' do %>
      <%= display_icon('icon-search') %>
    <% end %>
  </div>

    <% unless local_assigns[:simple_search_bar] %>
      <div class="pull-right">
        <%= link_to '#', class: 'btn', id: 'refresh-list', title: 'Atualizar a lista abaixo' do %>
          <%= display_icon('icon-refresh') %>
          Atualizar lista
        <% end %>
      </div>
    <% end %>
<% end %>
