<div class="row">
  <%= tabs_tag(:builder => ApplicationHelper::MenuTabBuilder) do |tab| %>
    <%= tab.data 'Dados', show_tcc_path, :class => 'active' %>
    <%= tab.abstract 'Resumo', edit_abstracts_path %>

    <% @tcc.chapters.each do |chapter| %>
      <%= tab.send("chapter#{chapter.chapter_definition.position}",
                   chapter.chapter_definition.title,
                   show_chapters_path(position: chapter.chapter_definition.position)) %>
    <% end %>

    <%= tab.bibliographies 'Referências', bibliographies_path %>
  <% end %>
</div>