<div class="row">
  <% if policy(@tcc).show_tabs_header?  %>
    <%= tabs_tag(:builder => ApplicationHelper::MenuTabBuilder) do |tab| %>
      <%= tab.data 'Dados', tcc_path(params[:moodle_user]), :class => 'active' %>
      <%= tab.abstract 'Resumo', edit_abstracts_path(params[:moodle_user]) %>

      <% @tcc.chapters.each do |chapter| %>
        <%= tab.send("chapter#{chapter.chapter_definition.position}",
                     chapter.chapter_definition.title,
                     edit_chapters_path(position: chapter.chapter_definition.position)) %>
      <% end %>

      <%= tab.bibliographies 'Referências', bibliographies_path(params[:moodle_user]) %>
    <% end %>
  <% end %>
</div>