<%= semantic_form_for object, url: action_url do |f| %>
    <div class="span12">
      <div class="rounded-border row">
        <h3>
          <%= object_label %> - <span class="text-info"> <%= t('states.'+object.aasm_current_state.to_s) %></span>
          <% if object.draft? && !object.commentary.blank? %>
              <a class="btn" id="compareTccObjectButtom" onclick="compareTccObject()">Comparar versões</a>
          <% end %>
        </h3>
        <% if ((object.draft? || object.admin_evaluation_ok?) && !object.commentary.blank?) %>
            <div class="rounded-border">
              <span><%= display_icon('icon-comment') %> Comentário do avaliador</span>

              <div class="text-info">
                <%= object.commentary.html_safe %>
              </div>
            </div>
        <% end %>

        <% if object.draft? %>
            <div class="row">
              <div id="old_tcc_object" class="span6" style="display: none">
                <div class="rounded-border">
                  <% unless last_object_commented.nil? %>
                      <h4>Última versão avaliada</h4>
                      <% if object.class != Abstract %>
                        <%= last_object_commented.content.html_safe %>
                      <% else %>
                        <%= last_object_commented.content.html_safe %>
                        <h4>Palavras chave</h4>
                        <%= last_object_commented.key_words.html_safe %>
                      <% end %>
                  <% else %>
                      <p class="text-error">Este eixo ainda não foi avaliado</p>
                  <% end %>
                </div>
              </div>
              <div id="new_tcc_object" class="span12">
                <div class="rounded-border">
                  <% if object.class != Abstract %>
                    <%= f.cktext_area :content %><br>
                  <% else %>
                    <%= f.cktext_area :content %><br>
                    <%= f.input :key_words, :input_html => { class: 'span9' } %>
                  <% end %>
                  <%= f.actions do %>
                      <%= render partial: 'common/state_options', locals: {f:f} %>
                      <%= f.action :submit, :as => :input, :label => 'Salvar alterações' %>
                  <% end %>
                </div>
              </div>
            </div>
        <% else %>
            <% if object.class != Abstract %>
                <%= f.input :content, :as => :ckeditor, label: false, input_html: {ckeditor: {readOnly: true}} %>
            <% else %>
                <%= f.input :key_words, :input_html => { class: 'span9', readOnly: true } %>
                <%= f.input :content, :as => :ckeditor, label: false, input_html: {ckeditor: {readOnly: true}} %>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>