<%= semantic_form_for @internet_ref do |ref| %>
  <div id="data_tab_content">
    <input type="hidden" name="moodle_user" value="<%= j params[:moodle_user] %>"/>
    <%= ref.inputs do %>
      <div class="span4">
        <%= ref.input :et_al, :label => false, :input_html => {:id => 'et_all'} %>
        <%= ref.input :first_author %>
        <%= ref.input :second_author %>
        <%= ref.input :third_author %>
      </div>
      <div class="span4">
        <%= ref.input :title %>
        <%= ref.input :subtitle %>
        <%= ref.input :url %>
      </div>
      <div class="span3">
        <%= ref.input :publication_date, :as => :string, :hint => 'Formato: dd/mm/aaaa',
                      :input_html => {:'data-behaviour' => 'datepicker',
                                      value: ((I18n.l @internet_ref.publication_date) unless @internet_ref.publication_date.nil?)}
        %>
        <%= ref.input :access_date, :as => :string, :hint => 'Formato: dd/mm/aaaa',
                      :input_html => {:'data-behaviour' => 'datepicker',
                                      value: ((I18n.l @internet_ref.access_date) unless @internet_ref.access_date.nil?)} %>
        <%= ref.input :complementary_information %>
      </div>
    <% end %>
    <%= required_fields %>
    <%= ref.actions :submit %>
  </div>
<% end %>