<!DOCTYPE html>
<html>
<head>
  <title>SistemaTcc</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="ckeditor/plugins/lite/lite-interface.js"></script>
  <%= csrf_meta_tags %>
  <%= moodle_user_meta_tag %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class='messages'>
      <%= render 'layouts/flash_messages' %>
    </div>
  </div>
  <div class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
